#main {
  background: rgba(10, 15, 25, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 2.5rem 2rem;
}

.hero-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.hero-logo img {
  max-width: 360px;
  width: 80%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0px 0px 12px rgba(0, 255, 180, 0.7));
  transition: transform 0.3s ease;
}

.hero-logo img:hover {
  transform: scale(1.05);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2.5rem;
}

.card {
  background: rgba(20, 25, 35, 0.88);
  border-radius: 18px;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgba(51, 255, 0, 0.589),
    0 20px 40px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease, box-shadow 0.50s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-bottom: 1px solid rgba(0, 255, 180, 0.2);
}

.card h3 {
  margin: 0.6rem 0;
}

.card p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem;
}

.search-container input {
  width: 600px;
  height: 70px;
  max-width: 90%;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 30px;
  border: 2px solid #349505;
  background: rgba(15, 20, 30, 0.85);
  color: #eafff5;
  outline: none;
  box-shadow:
    0 0 12px #58cd1452,
    inset 0 0 8px rgba(0, 0, 0, 0.6);
  transition: border 0.25s ease, box-shadow 0.25s ease;
}

.search-container input::placeholder {
  color: rgb(255, 255, 255);
}

.search-container input:focus {
  border-color: #65C214;
  box-shadow:
    0 0 18px #1CEA00,
    inset 0 0 8px rgba(0, 0, 0, 0.6);
}
