* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("/wallpaper-rick-morty.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #eaeaea;
  overflow-x: hidden;
}

#main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 3rem 0 4rem;
}

.pagination span {
  color: #d1d5db;
  font-size: 0.95rem;
  letter-spacing: 1px;
  opacity: 0.85;
}

.pagination button {
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  border: 1px solid rgba(110, 231, 183, 0.4);

  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(6px);

  color: #e5e7eb;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover {
  border-color: #65C214;
  background: rgba(15, 23, 42, 1);
  color: rgb(255, 255, 255);
  box-shadow:
    0 0 18px #1CEA00,
    inset 0 0 8px rgba(0, 0, 0, 0.6);
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: rgba(255, 255, 255, 0.1);
  color: #9ca3af;
}